h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container {
    width: 500px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
nav ul, nav li{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    float: left;

    .navbar{
        background-color: beige;
        width: 100%;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
    }
    body{
        background-color: aquamarine;
    }